<div class="container mt-5">
  <div class="row">
    
    <div class="col-md-8 ">

      <div class="card">

        <div class="card- header bg-warning text-white">
          <h4>Kayıt</h4>

        </div>

        <div class="card-body">
          <div class="form-group">
            <label for="">Kullanıcı Adı</label>
            <input type="text" class="form-control">

          </div>
          <div class="form-group">
            <label for="">E-Posta</label>
            <input type="E-Posta" class="form-control">

          </div>
          <div class="form-group">
            <label for="">Parolanız</label>
            <input type="password" class="form-control">

          </div>
          <div class="form-group">
            <label for="">Parolayı Tekrar Giriniz</label>
            <input type="password" class="form-control">

          </div>

        </div>

        <div class="card-footer">
         <button type="button" onclick="location='/Home/Index'" class="btn btn-warning">Giriş</button>
          
          

        </div>

      </div>
    </div>
</div>
